{% extends "base.html" %}
{% block content %}
  <h1 class="mb-3">{{ filename }}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for label, link in breadcrumbs %}
        {% if loop.last %}
          <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{{ link }}">{{ label }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
  <div class="ratio ratio-16x9 mb-3">
    <video controls preload="metadata" poster="" class="w-100 h-100">
      <source src="{{ url_for('video_stream', subpath=video_path) }}" type="{{ mimetype }}" />
      Your browser does not support the video tag.
    </video>
  </div>
  <a class="btn btn-outline-secondary" href="{{ url_for('browse', subpath='/'.join(video_path.split('/')[:-1])) }}">
    <i class="bi bi-arrow-left"></i> Back to folder
  </a>
{% endblock %}
